/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* common css */
body {
    font-family: Azeret Mono;

}


a {
    text-decoration: none;
}

/* Header Styles */
nav {
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    width: 244px;
    height: 57px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;

}

.banner-container {
    background-image: url(./images/Hero-bg.png);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.banner-content {
    text-align: center;
}

.banner-content h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
}

.banner-content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;

}

.banner-content button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    border: none;

}

.banner-content button a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;

}

.why-development-container {
    text-align: center;
    margin-top: 50px;
    background: rgba(13, 19, 33, 0.02);
    padding: 50px;
}

.why-development-container h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;

}

.why-development-container p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.why-development-content-first {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 20px 0;

}

.why-development-content-first h2 {

    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;

}

.why-development-content-first p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.why-development-content-first button {
    padding: 10px 20px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

.why-development-content-first button a {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

.my-inspiration-secton-container {
    text-align: center;
}

.my-inspiration-secton-container h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;

}

.my-inspiration-secton-container p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;

}

.my-current-target-container {
    text-align: center;
    margin-top: 50px;
}


.my-current-target-container h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;

}

.my-current-target-container p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.cart-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.cart-1 {
    background: rgba(255, 76, 30, 0.05);
    padding: 15px;
    width: 33%;
}

.cart-1 a,
.cart-2 a,
.cart-3 a {
    text-decoration: underline;
}

.cart-2 {
    background: rgba(0, 76, 232, 0.05);
    padding: 15px;
    width: 33%;
}

.cart-3 {
    background: rgba(255, 223, 0, 0.05);
    padding: 15px;
    width: 33%;
}

.support-section-container {
    background-image: url(./images/handshake.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px;
}

.support-section-container h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;

}

.support-section-container p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;

}

.support-section-container input {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    padding: 19px 20px 19px 20px;
}

.support-section-container button {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    padding: 15px 20px;
}

.support-section-container button a {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;

}

footer{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}